name: Generate and Deploy Docs

on:
  push:
    branches: 
      - main
      - feature/docs-ci

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Doxygen
        uses: mattnotmitt/doxygen-action@v1.9
        with:
          working-directory: .

      - name: Generate documentation
        run: doxygen Doxyfile

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs/html

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
